.App {
  text-align: center;
}

body {
  background-color: grey;
}

.col-sm-4 {
  margin-top: 15px;
}

.col-sm-4:nth-child(3n+1) {
  clear: both;
}

.logo {
  margin: 0 auto;
  width: 50%;
  margin-bottom: 20px;
}
